.my-tickets-container {
  width: 100%;
  min-height: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 10px;
}

.my-tickets-container .my-tickets-options-wrapper {
  width: 100%;
  height: 150px;
  background-color: grey;
  border-radius: 20px;
}
/*
.my-tickets-container .my-tickets-list-wrapper {
  width: 100%;
  height: calc(100% - 160px);
  margin-top: 10px;
  border-radius: 20px;
  border: 2px solid grey;
  border-radius: 20px;
}
*/
.my-tickets-container .my-tickets-wrapper {
  font-size: 0.75rem;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 5px;
  margin: 10px 0;
  border-radius: 6px;
  background-color: rgb(224, 224, 224);
}

.my-tickets-container .my-tickets-wrapper__user-details-wrapper {
    display: flex;
    align-items: center;
}
.my-tickets-container .my-tickets-wrapper__user-details__icon {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #ccc;
}

.my-tickets-container .my-tickets-wrapper__user-details__fullname {
    margin-bottom: 2px;
}
.my-tickets-container .my-tickets-wrapper__user-details__email-wrapper{
    display: flex;
    margin-left: 10px;
    margin-bottom: 6px;
    align-items: center;
    line-height: 0;
}
.my-tickets-container .my-tickets-wrapper__user-details__email__text {
    margin-left: 5px;
}

.my-tickets-container .my-tickets-wrapper__user-details__fullname{
    margin-left: 10px;
}
.my-tickets-container .my-tickets-wrapper__user-details__created-date-wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px;
    line-height: 0;
}
.my-tickets-container .my-tickets-wrapper__user-details__created-date__date {
    margin-left: 5px;
}


.my-tickets-container .my-tickets-wrapper__ticket-details__title {
    font-weight: 800;
}
.my-tickets-container .my-tickets-wrapper__ticket-details__info-wrapper {
    display: flex;
    margin-bottom: 5px;
}
.my-tickets-container .my-tickets-wrapper__ticket-details__category-wrapper {
    margin-right: 5px;
    width: 125px;
}
.my-tickets-container .my-tickets-wrapper__ticket-details__priority-wrapper {
    margin-left: 5px;
    width: 125px;
}
.my-tickets-container .my-tickets-wrapper__ticket-details__group-wrapper {
    margin-right: 5px;
    width: 125px;
}
.my-tickets-container .my-tickets-wrapper__ticket-details__agent-wrapper {
    margin-left: 5px;
    width: 125px;
}

.my-tickets-container .my-tickets-wrapper__ticket-details__category-title,
.my-tickets-container .my-tickets-wrapper__ticket-details__priority-title,
.my-tickets-container .my-tickets-wrapper__ticket-details__group-title,
.my-tickets-container .my-tickets-wrapper__ticket-details__agent-title {
    font-weight: 700;
    color: rgb(75, 74, 74);
}
.my-tickets-container .my-tickets-wrapper__ticket-details__category-type,
.my-tickets-container .my-tickets-wrapper__ticket-details__priority-type,
.my-tickets-container .my-tickets-wrapper__ticket-details__group-name,
.my-tickets-container .my-tickets-wrapper__ticket-details__agent-name {
    font-weight: 400;
    color: rgb(75, 74, 74);
}



.my-tickets-container .my-tickets-wrapper__ticket-activity__started-wrapper {
    display: flex;
    justify-content: space-between;
}
.my-tickets-container .my-tickets-wrapper__ticket-activity__response-wrapper {
    display: flex;
}

.my-tickets-container .my-tickets-wrapper__ticket-activity__started {
    font-weight: 700;
    color: rgb(75, 74, 74);
}
.my-tickets-container .my-tickets-wrapper__ticket-activity__started-date {
    font-weight: 400;
    color: rgb(75, 74, 74);
    margin-left: 5px;
}
.my-tickets-container .my-tickets-wrapper__ticket-activity__status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25em 0.6em;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    border-radius: 10rem;
    color: rgb(2, 87, 87);
    background-color: rgba(0, 255, 255, 0.3);
    cursor: pointer;
    transition: background-color var(--speed) ease;
}
.my-tickets-container .my-tickets-wrapper__ticket-activity__status:hover {
    background-color: cyan;
}

.my-tickets-container .my-tickets-wrapper__divider {
    margin: 10px 0;
    height: 1px;
    width: calc(100%);
    background-color: #ccc;
}


.my-tickets-container .my-tickets-wrapper__icon-wrapper{
  padding-top: 5px;
}

.my-tickets-container .my-tickets-wrapper__user-details-container {
    width: 100%;
}

@media only screen and (min-width: 600px) { 
    .my-tickets-container .my-tickets-wrapper__ticket-details__info-container {
        display: flex;
    }
    
}

@media only screen and (min-width: 1000px) { 
    .my-tickets-container .my-tickets-wrapper__divider {
        display: none;
    }
    .my-tickets-container .my-tickets-wrapper__user-details-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 2;
    }
    .my-tickets-container .my-tickets-wrapper__ticket-details-wrapper {
        margin-left: 20px;
    }
    .my-tickets-container .my-tickets-wrapper__user-details__fullname {
        margin-bottom: 0;
    }
    .my-tickets-container .my-tickets-wrapper__ticket-activity__started-wrapper {
        flex-direction: column;
    }
    .my-tickets-container .my-tickets-wrapper__icon-wrapper {
        width: 40px;
        display: flex;
        justify-content: end;
    }
}