.my-tickets-wrapper {
  font-size: 0.75rem;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 5px;
  margin: 10px 0;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s ease;
}

.my-tickets-wrapper:hover{
  background-color: #dcdcdc;
  transform: translateX(6px);
}

.my-tickets-wrapper__user-details-wrapper {
  display: flex;
  align-items: center;
}
.my-tickets-wrapper__user-details__icon {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #ccc;
}
.my-tickets-wrapper__user-details__user-info-wrapper {
  display: inline-block;
  justify-content: space-between;
}
.my-tickets-wrapper__user-details__fullname {
  
}
.my-tickets-wrapper__user-details__email-wrapper {
  display: flex;
  margin-left: 10px;
  align-items: center;
  
}
.my-tickets-wrapper__user-details__email__icon {
  line-height: 0;
}
.my-tickets-wrapper__user-details__email__text {
  margin-left: 5px;
}

.my-tickets-wrapper__user-details__fullname {
  margin-left: 10px;
}
.my-tickets-wrapper__user-details__created-date-wrapper {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.my-tickets-wrapper__user-details__created-date__date {
  margin-left: 5px;
}
.my-tickets-wrapper__user-details__created-date__icon {
  line-height: 0;
}
.my-tickets-wrapper__ticket-details__title {
  font-weight: 800;
}
.my-tickets-wrapper__ticket-details__info-wrapper {
  display: flex;
  margin-bottom: 5px;
}
.my-tickets-wrapper__ticket-details__category-wrapper {
  margin-right: 5px;
  width: 125px;
}
.my-tickets-wrapper__ticket-details__priority-wrapper {
  margin-left: 5px;
  width: 125px;
}
.my-tickets-wrapper__ticket-details__group-wrapper {
  margin-right: 5px;
  width: 125px;
}
.my-tickets-wrapper__ticket-details__agent-wrapper {
  margin-left: 5px;
  width: 125px;
}

.my-tickets-wrapper__ticket-details__category-title,
.my-tickets-wrapper__ticket-details__priority-title,
.my-tickets-wrapper__ticket-details__group-title,
.my-tickets-wrapper__ticket-details__agent-title {
  font-weight: 700;
  color: rgb(75, 74, 74);
}
.my-tickets-wrapper__ticket-details__category-type,
.my-tickets-wrapper__ticket-details__priority-type,
.my-tickets-wrapper__ticket-details__group-name,
.my-tickets-wrapper__ticket-details__agent-name {
  font-weight: 400;
  color: rgb(75, 74, 74);
}

.my-tickets-wrapper__ticket-activity__started-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-tickets-wrapper__ticket-activity__response-wrapper {
  display: flex;
}

.my-tickets-wrapper__ticket-activity__started {
  font-weight: 700;
  color: rgb(75, 74, 74);
}
.my-tickets-wrapper__ticket-activity__started-date {
  font-weight: 400;
  color: rgb(75, 74, 74);
  margin-left: 5px;
}
.my-tickets-wrapper__ticket-activity__status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0.6em;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  border-radius: 10rem;
  color: rgb(2, 87, 87);
  background-color: rgba(0, 255, 255, 0.3);
  cursor: pointer;
  transition: background-color var(--speed) ease;
}
.my-tickets-wrapper__ticket-activity__status:hover {
  background-color: cyan;
}

.my-tickets-container .my-tickets-wrapper__divider {
  margin: 10px 0;
  height: 1px;
  width: calc(100%);
  background-color: #ccc;
}

.my-tickets-wrapper__icon-wrapper {
  padding-top: 5px;
  cursor: pointer;
  height: 20px;
}

.my-tickets-wrapper__user-details-container {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .my-tickets-wrapper__ticket-details__info-container {
    display: flex;
  }
  .my-tickets-options-wrapper {
    font-size: 0.875rem;
  }
}

@media only screen and (min-width: 1000px) {
  .my-tickets-wrapper__divider {
    display: none;
  }
  
  .my-tickets-wrapper__user-details-wrapper {
    word-break: break-all;
    word-break: break-word;
  }
  
  .my-tickets-wrapper__user-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2;
  }
  
  .my-tickets-wrapper__ticket-activity__started-wrapper {
    flex-direction: column;
  }
  .my-tickets-wrapper__icon-wrapper {
    width: 40px;
    display: flex;
    justify-content: end;
  }
}
