.create-ticket-container {
  width: 100%;
  min-height: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 10px;
  font-size: 0.75rem;
}

.create-ticket-wrapper__title {
  font-size: 0.95rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.create-ticket-wrapper__input-field input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.create-ticket-wrapper__input-field input:focus,
.create-ticket-wrapper__select-field select:focus,
textarea.create-ticket-wrapper__description:focus {
  border: 2px solid var(--primary);
}
.create-ticket-wrapper__input-field {
  /*
  width: 100%;
  padding: 0 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: white;
  border-radius: 6px;
  border: 2px solid#ccc;
  */
}

textarea.create-ticket-wrapper__description {
  width: 100%;
  min-height: 200px;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.create-ticket-wrapper__select-field {
  width: 100%;
  margin: 20px 0px 8px 0px;
  max-height: 46px;
  display: flex;
  position: relative;
}

.create-ticket-wrapper__select-field__icon {
  position: absolute;
  right: 10px;
  top: 14px;
}
.create-ticket-wrapper__select-field select {
  width: 100%;
  height: 100%;
  min-height: 44px;
  border: 2px solid#ccc;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 12px 20px;
  z-index: 1;
}

.create-ticket-wrapper__button_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.create-ticket-wrapper__secondary-button {
  width: 100px;
  height: 40px;
  margin-right: 10px;
  text-align: center;
  border-radius: 6px;
  border: 2px solid var(--primary);
  color: var(--primary);
  transition: all var(--speed) ease;
  cursor: pointer;
}

.create-ticket-wrapper__secondary-button:hover {
  background-color: var(--primary);
  color: white;
}

.create-ticket-wrapper__primary-button {
  width: 100px;
  height: 40px;
  margin-left: 10px;
  text-align: center;
  border-radius: 6px;
  background-color: var(--primary);
  color: white;
  transition: all var(--speed) ease;
  cursor: pointer;
}

.create-ticket-wrapper__primary-button:hover {
  background-color: #154f75;
  box-shadow: rgba(21, 79, 117, 0.35) 0px 5px 15px;
}

.create-ticket-wrapper__info {
  display: grid;
  grid-template-areas:
    "fieldOne"
    "fieldTwo"
    "fieldThree"
    "fieldFour";
}

.create-ticket-wrapper__ticket-info {
  display: grid;
  grid-template-areas:
    "title"
    "fileInput";
}

@media only screen and (min-width: 600px) {
  .create-ticket-container {
    font-size: 0.875rem;
  }
  .create-ticket-wrapper__title {
    font-size: 1.125rem;
  }
  .create-ticket-wrapper__input-field {
    margin: 0 10px;
  }
  .create-ticket-wrapper__input-field input {
    width: 100%;
    max-width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    border-radius: 6px;
    border: 2px solid #ccc;
  }
  .create-ticket-wrapper__input-field.--ticket-title input{
    max-width: initial;
  }
  .create-ticket-wrapper {
    padding: 20px;
  }
  .create-ticket-wrapper__input-field.--ticket-title {
    margin-top: 20px;
  }
  .create-ticket-wrapper__select-field {
    max-width: 250px;
  }
  .create-ticket-wrapper__info {
    grid-template-areas:
      "fieldOne fieldTwo"
      "fieldThree fieldFour";
  }
  .create-ticket-wrapper__select-field {
    margin: 8px 0 0 10px;
    max-width: 250px;
  }

  .create-ticket-wrapper__ticket-info {
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 20px;
    grid-template-areas: "title fileInput";
  }
  .create-ticket-wrapper__file-input {
    align-self: center;
  }

  @media only screen and (min-width: 1000px) {
    .create-ticket-container {
      font-size: 1rem;
    }
    .create-ticket-wrapper__title {
      font-size: 1.375rem;
    }
    .create-ticket-wrapper__info {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "fieldOne fieldTwo fieldThree"
        "fieldFour";
    }
  }
}
