.knowledgebase-card {
  width: 240px;
  max-height: 300px;
  border: 1px solid #ccc;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.knowledgebase-card-description > * {
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  margin-bottom: 0 !important;
}

@media only screen and (min-width: 600px) {
  .knowledgebase-card {
    width: 300px;
  }
}