.view-ticket-container .view-ticket-history-wrapper__title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.view-ticket-container .view-ticket-history-wrapper__time {
  color: rgb(85, 84, 84);
  margin-bottom: 10px;
}

.view-ticket-container .view-ticket-history-wrapper__time-line-wrapper li {
  padding-bottom: 1.5rem;
  border-left: 2px solid #ccc;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
}

.view-ticket-container
  .view-ticket-history-wrapper__time-line-wrapper
  li:before {
  content: "";
  width: 15px;
  height: 15px;
  background: var(--primary);
  border-radius: 50%;
  position: absolute;
  left: -9px;
  top: 0px;
}

.view-ticket-container
  .view-ticket-history-wrapper__time-line-wrapper
  li:last-child {
  border: 0px;
  padding-bottom: 0;
  left: 2px;
  top: 0px;
}

.view-ticket-container .view-ticket-wrapper__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-ticket-container .view-ticket-wrapper__title {
  color: rgb(85, 84, 84);
  font-weight: 700;
  font-size: 0.875rem;
}

.view-ticket-information-wrapper__group-wrapper__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 6px;
}
.view-ticket-information-wrapper__group-wrapper__change-option-btn {
  color: blue;
  cursor: pointer;
}

.agent-wrapper__change-option-wrapper__assigned-wrapper {
  padding: 0 20px;

  display: flex;
  align-items: center;
  height: 0;
  transition: height 0.3s ease;
}
.agent-wrapper__change-option-wrapper__assigned-wrapper.active {
  margin-top: 10px;
  height: 20px;
  margin-bottom: 10px;
}

.view-ticket-container .category-wrapper__title {
  color: rgb(85, 84, 84);
  margin: 10px 10px 10px 0;
}

.view-ticket-container .category-wrapper__change-option-btn {
  color: blue;
  cursor: pointer;
}

.view-ticket-container .category-wrapper__category-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
}
