.view-ticket-container .view-ticket-container__view-ticket-wrapper {
  width: 100%;
  min-height: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 10px;
  font-size: 0.75rem;
}

.view-ticket-container .view-ticket-container__view-ticket-history-wrapper {
  width: 100%;
  min-width: 280px;
  height: 300px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 20px;
  font-size: 0.75rem;
  overflow-y: auto;
}

.view-ticket-container .view-ticket-container__view-ticket-information-wrapper {
  width: 100%;
  min-width: 280px;
  min-height: 400px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 20px;
  font-size: 0.75rem;
  margin: 20px 0;
}

.view-ticket-container .view-ticket-history-wrapper__title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.view-ticket-container .view-ticket-history-wrapper__time {
  color: rgb(85, 84, 84);
  margin-bottom: 10px;
}

.view-ticket-container .view-ticket-history-wrapper__time-line-wrapper li {
  padding-bottom: 1.5rem;
  border-left: 2px solid #ccc;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
}

.view-ticket-container
  .view-ticket-history-wrapper__time-line-wrapper
  li:before {
  content: "";
  width: 15px;
  height: 15px;
  background: var(--primary);
  border-radius: 50%;
  position: absolute;
  left: -9px;
  top: 0px;
}

.view-ticket-container
  .view-ticket-history-wrapper__time-line-wrapper
  li:last-child {
  border: 0px;
  padding-bottom: 0;
  left: 2px;
  top: 0px;
}

.view-ticket-container .view-ticket-information-wrapper__title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.view-ticket-container .view-ticket-information-wrapper__ticket-id {
  color: rgb(85, 84, 84);
}
.view-ticket-container .view-ticket-information-wrapper__ticket-id > span {
  font-weight: 700;
  margin-left: 10px;
}

.view-ticket-container .view-ticket-information-wrapper__priority-wrapper {
  display: flex;
  align-items: center;
}
.view-ticket-container
  .view-ticket-information-wrapper__priority-wrapper__title {
  color: rgb(85, 84, 84);
  margin: 10px 10px 10px 0;
}
.view-ticket-container .view-ticket-information-wrapper__priority-wrapper__select-wrapper {
  width: 50%;
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px;
  max-height: 20px;
  border: 2px solid#ccc;
  display: flex;
  position: relative;
}

.view-ticket-container
  .view-ticket-information-wrapper__priority-wrapper__select-wrapper
  select {
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-left: 10px;
}
.view-ticket-container .view-ticket-information-wrapper__select-wrapper__icon {
  position: absolute;
  right: 10px;
  top: 2px;
}

.view-ticket-container .view-ticket-information-wrapper__rating {
  color: rgb(85, 84, 84);
  margin-bottom: 10px;
}

.view-ticket-container .view-ticket-information-wrapper__rating > span {
  font-weight: 700;
  margin-left: 10px;
}

.view-ticket-container .view-ticket-information-wrapper__created-date {
  color: rgb(85, 84, 84);
  margin-bottom: 10px;
}

.view-ticket-container .view-ticket-information-wrapper__created-date > span {
  font-weight: 700;
  margin-left: 10px;
}

.view-ticket-container .view-ticket-information-wrapper__last-msg {
  color: rgb(85, 84, 84);
  margin-bottom: 10px;
}

.view-ticket-container .view-ticket-information-wrapper__last-msg > span {
  font-weight: 700;
  margin-left: 10px;
}

.view-ticket-container .view-ticket-information-wrapper__group-wrapper__title {
  color: rgb(85, 84, 84);
  margin-bottom: 10px;
}

.view-ticket-container .view-ticket-information-wrapper__assign-wrapper__title {
  color: rgb(85, 84, 84);
  margin: 10px 0;
}

.view-ticket-container .view-ticket-wrapper__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-ticket-container .view-ticket-wrapper__back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 30px;
  text-align: center;
  border-radius: 6px;
  border: 2px solid var(--primary);
  color: var(--primary);
  transition: all var(--speed) ease;
}

.view-ticket-container .view-ticket-wrapper__back-btn:hover {
  background-color: var(--primary);
  color: white;
}

.view-ticket-container .view-ticket-wrapper__back-btn > span {
  margin-left: 5px;
}

.view-ticket-container .view-ticket-wrapper__title {
  color: rgb(85, 84, 84);
  font-weight: 700;
  font-size: 0.875rem;
}

.view-ticket-container .view-ticket-wrapper__tab-wrapper {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.view-ticket-container .view-ticket-wrapper__tab-wrapper_tab {
  margin: 0 20px;
  border-bottom: 2px solid #ccc;
}




.view-ticket-information-wrapper__group-wrapper__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.view-ticket-information-wrapper__group-wrapper__change-option-btn {
  color: blue;
  cursor: pointer;
  position: absolute;
  left: 225px;
  margin-bottom: 10px;
}
.group-wrapper__change-option-container {
  position: relative;
 
}


.group-wrapper__change-option-wrapper {
  min-width: 280px;
  height: 350px;
  background-color: white;
  border: 2px solid #ccc;
  z-index: 100;
  position: absolute;
  left: -265px;
  cursor: initial;
  color: initial;
}

.group-wrapper__change-option-wrapper__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.group-wrapper__change-option-wrapper__title {
  font-weight: 600;
}
.group-wrapper__change-option-wrapper__close-btn {
  cursor: pointer;
}
.group-wrapper__change-option-wrapper__search-wrapper {
  display: flex;
  border: 1px solid #ccc;
  align-items: center;
  margin: 0 10px;
  padding-left: 10px;
  height: 40px;
  margin-bottom: 10px;
}
.group-wrapper__change-option-wrapper__search-wrapper:focus-within{
  border: 2px solid var(--primary);
}

.my-tickets-options-wrapper__search-wrapper_icon {
  color: #ccc;
  font-size: 16px;
  line-height: 0;
}
.group-wrapper__change-option-wrapper__search {
  padding: 10px;
  width: 100%;
}

.group-wrapper__change-option-wrapper__group-list-wrapper {
  
  height: 180px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.change-option-wrapper__group-list-wrapper__list-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}
.change-option-wrapper__group-list-wrapper__list-item-wrapper:hover {
  background-color: #deebff;
}
.group-list-wrapper__list-item-wrapper__group-detail-wrapper {
  display: flex;
  align-items: center;
}
.list-item-wrapper__group-detail-wrapper__name {
  margin-left: 5px;
  
}


.group-list-wrapper__list-item-wrapper__checkbox {
  border: 2px solid black;
  background-color: white;
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: all 0.3s ease;
}
.group-list-wrapper__list-item-wrapper__checkbox::after {
  content: '\2714';
  color: white;
  transform: scale(0);
  transition: all 0.3s ease;
}
.group-list-wrapper__list-item-wrapper__checkbox:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}
.group-list-wrapper__list-item-wrapper__checkbox:checked::after {
  transform: scale(1);
}

.group-wrapper__change-option-wrapper__button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 10px;

}
.group-wrapper__button-wrapper__secondary-button {
  width: 60px;
  height: 30px;

  text-align: center;
  border-radius: 6px;
  border: 2px solid var(--primary);
  color: var(--primary);
  transition: all var(--speed) ease;
  cursor: pointer;
}
.group-wrapper__button-wrapper__secondary-button:hover {
  background-color: var(--primary);
  color: white;
}

.group-wrapper__button-wrapper__primary-button {
  width: 60px;
  height: 30px;
  margin-left: 10px;
  text-align: center;
  border-radius: 6px;
  background-color: var(--primary);
  color: white;
  transition: all var(--speed) ease;
  cursor: pointer;
}
.group-wrapper__button-wrapper__primary-button:hover {
  background-color: #154f75;
  box-shadow: rgba(21, 79, 117, 0.35) 0px 5px 15px;
}


.group-wrapper__change-option-wrapper__assigned-wrapper {
  padding: 0 20px;
  
  display: flex;
  align-items: center;
  height: 0;
  transition: height 0.3s ease;
}
.group-wrapper__change-option-wrapper__assigned-wrapper.active {
  margin-top: 10px;
  height: 20px;
  margin-bottom: 10px;
}


.group-wrapper__assigned-list {
  display: flex;
}

@media only screen and (min-width: 600px) {
  .view-ticket-container .view-ticket-container__view-ticket-wrapper {
    padding: 20px 20px;
    font-size: 0.875rem;
  }
  .view-ticket-container .view-ticket-container__view-ticket-details-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .view-ticket-container .view-ticket-container__view-ticket-information-wrapper {
    margin-top: 0;
  }
  .view-ticket-container .view-ticket-container__view-ticket-history-wrapper {
    min-height: 400px;
    margin: 0 0 0 10px;
    
  }
  .view-ticket-container .view-ticket-wrapper__tab-wrapper_tab {
    font-size: 0.875rem;
  }
}

@media only screen and (min-width: 1000px) {
  .view-ticket-container {
    display: flex;
    justify-content: center;
  }
  .view-ticket-container .view-ticket-container__view-ticket-wrapper {
    max-width: 700px;
  }
  .view-ticket-container .view-ticket-container__view-ticket-details-wrapper {
    display: block;
  }
  .view-ticket-container .view-ticket-container__view-ticket-information-wrapper {
    margin-left: 20px;
    margin-top: 0;
  }
  .view-ticket-container .view-ticket-container__view-ticket-history-wrapper {
    margin-left: 20px;
    margin-top: 0;
  }
  .view-ticket-container .view-ticket-container__view-ticket-details-wrapper {
    margin: 0;
  }
}
