.ticket-dashboard-container {
  font-size: 0.75rem;
}

.ticket-dashboard-container__status-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1;
}

.ticket-dashboard-container__barchart_wrapper {
  margin-top: 40px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ticket-dashboard-container__my-activities-wrapper {
  width: 100%;

  height: 300px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 0.75rem;
  margin: 20px 100px 20px 0;
}

.ticket-dashboard-container__piechart_wrapper {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media only screen and (min-width: 800px) {
  .ticket-dashboard-container__card-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
